(
	name: "Tokyo Night",
	foreground: "#a9b1d6",
	background: "#1a1b26",
	cursor: "#c0caf5",
	bright_foreground: "#a9b1dc",
	dim_foreground: "#a9b1dc",
	normal: (
		black: "#414868",
		red: "#f7768e",
		green: "#73daca",
		yellow: "#e0af68",
		blue: "#7aa2f7",
		magenta: "#bb9af7",
		cyan: "#7dcfff",
		white: "#c0caf5",
	),
	bright: (
		black: "#414868",
		red: "#f7768e",
		green: "#73daca",
		yellow: "#e0af68",
		blue: "#7aa2f7",
		magenta: "#bb9af7",
		cyan: "#7dcfff",
		white: "#c0caf5",
	),
)
